<h1>Smkgw#index</h1>
<p>Find me in app/views/smkgw/index.html.erb</p>

Life is very interesting

puts <%= 63-5%>

<% 4.times do %>
house of cheese
<%end%>

<br/>
<br/>

<% 4.times do|t| %>
t.puts "fruity"

<%end%>

<%= link_to "jobs",smkgw_jobs %>
